.hidden {
  display: none;
}

.jumbotron {
  border-radius: 0;
}

.section-danger {
  background: #f8d7da; 
  color: #721c24;
  padding: 10px;
}

.progress-bar {
  background: #cce5ff;
  position: absolute;
  height: 100%;
  z-index: -9999;
}

.section-progress {
  text-align: center;
  color: #004085;
  position: relative;
}
