{% extends "base.html" %}

{% block content %}
<h1 class="jumbotron-heading">Convert YouTube videos to MP3 audio files</h1>
<p class="lead text-muted">Enter the YouTube URL or ID to start the process.</p>
<p>

<form action="{% url "start_download" %}" method="POST">
  {% csrf_token %}
  <div class="input-group">
    <input type="text" class="form-control" placeholder="YouTube video URL"/ name="youtube_uri">
    <div class="input-group-append">
      <button class="btn btn-primary" type="submit">
        Convert
      </button>
    </div>
  </div>

  <small class="text-left text-muted">
    <a href="#" id="show-cut-link">Cut the audio <i class="fas fa-angle-double-down"></i></a>
  </small>

  <hr />

  <div class="input-group hidden" id="cut-form">
    <div class="input-group-prepend">
      <span class="input-group-text" id="">Cut (in seconds or mm:ss format)</span>
    </div>
    <input type="text" class="form-control" placeholder="Start" name="cut_start">
    <input type="text" class="form-control" placeholder="End" name="cut_end">
  </div>
</form>
{% endblock %}
